Requirements:
1. -Download a collection
2. -Read a collection file 
3. -Determine collection format 2.0 or 2.1
4. -Parse the collection
a. -Extract the calls
i. Get call type
ii. Get all headers 
iii. Get data
iv. Get URL
v. Get whatever else is there
b. Extract tests
5. Place the tests in a test file for chai
6. Interface between the playwright and chai
7. Execute chai tests
8. Report results

1: Maybe or maybe not
2: Postman Collections SDK
3 done by SDK
4: Postman SDK
5: Separate Bukowski class builder that creates the test.spec files
6: Not needed
7 and 8 will be part of playwright test execution





testbuilderClass:
create a file called ITEMNAME.spec.ts in the tests folder. Get name from item.name in collection 


Packages: Figure this out

Classes: 


parser Requirements
Read the file
Get ItemsList
From itemslist, extract each item
parse each item into: 
name
event[]
request
url


item {
    name (This is a text value that will be used for the test.pec.ts file name)
    event[](tests and scripts)
        listen:(If the value = "test" then it's a test.)
        script[](s)
            exec[] (may include multiple scripts, Tests are included here)
                type (text/javascript)
    request
        method[] (Get, post, delete, etc.)         
        header[]
            key
            value
            type
            disabled
    url
        raw: string
        protocol: https
        host[]:
            0 to many strings, that make up the left side of the url before domain
        path[] 0 to many AFTER the domain
    response},

next item